.chatWindow {
  width: 680px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #ffffff;
  border: 1px solid #ccc;
  overflow: hidden;
  z-index: 99999;
}
.chatWindow .chatWindow-header {
  width: 100%;
  height: 50px;
  background: #421C50;
  color: #fff;
  line-height: 50px;
  padding-left: 20px;
  position: relative;
}
.chatWindow .chatWindow-header .chatWindow-header-tool {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  text-align: center;
}
.chatWindow .chatWindow-header .chatWindow-header-tool span {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.chatWindow .chatWindow-header .chatWindow-header-tool span:hover {
  font-size: 16px;
}
.chatWindow .chatWindow-container {
  width: 100%;
  height: 450px;
  position: relative;
  overflow: hidden;
}
.chatWindow .chatWindow-container .chatWindow-container-chat {
  width: 102%;
  height: 100%;
  background: #fff;
  padding-top: 10px;
  overflow: scroll;
  padding-bottom: 80px;
}
.chatWindow .chatWindow-container .chatWindow-container-chat ul .chat-msg {
  width: 100%;
  overflow: hidden;
}
.chatWindow .chatWindow-container .chatWindow-container-chat ul .chat-msg .chat-msg-left {
  width: 100%;
  padding-left: 50px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}
.chatWindow .chatWindow-container .chatWindow-container-chat ul .chat-msg .chat-msg-left .chat-msg-avator {
  position: absolute;
  left: 10px;
  top: 0px;
}
.chatWindow .chatWindow-container .chatWindow-container-chat ul .chat-msg .chat-msg-left .chat-msg-content {
  max-width: 50%;
  min-height: 30px;
  font-size: 14px;
  color: #fff;
  background: #3598DC;
  line-height: 20px;
  word-break: break-all;
  padding: 5px 15px;
  border-radius: 4px;
  float: left;
}
.chatWindow .chatWindow-container .chatWindow-container-chat ul .chat-msg .chat-msg-right {
  width: 100%;
  padding-right: 50px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}
.chatWindow .chatWindow-container .chatWindow-container-chat ul .chat-msg .chat-msg-right .chat-msg-avator {
  position: absolute;
  right: 10px;
  top: 0px;
}
.chatWindow .chatWindow-container .chatWindow-container-chat ul .chat-msg .chat-msg-right .chat-msg-content {
  float: right;
  max-width: 50%;
  min-height: 30px;
  font-size: 14px;
  color: #333;
  background: #EDEEF0;
  line-height: 20px;
  word-break: break-all;
  padding: 5px 15px;
  border-radius: 4px;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply {
  width: 100%;
  min-height: 50px;
  position: absolute;
  bottom: 0px;
  overflow: hidden;
  padding-left: 20px;
  padding-right: 20px;
  background: rgba(255, 255, 255, 0.8);
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-input {
  width: 100%;
  min-height: 40px;
  max-height: 120px;
  font-size: 14px;
  overflow: auto;
  overflow-y: scroll;
  line-height: 20px;
  background: #EDEEF0;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  padding: 10px 64px 10px 40px;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-input:focus {
  outline: #67c23a;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-annex-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  left: 20px;
  bottom: 10px;
  cursor: pointer;
  font-size: 18px;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-annex-btn:hover {
  font-size: 19px;
  font-weight: 600;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-annex-btn:active {
  font-size: 17px;
  font-weight: 600;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-emoji-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 50px;
  bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-emoji-btn:hover {
  font-size: 17px;
  font-weight: 600;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-emoji-btn:active {
  font-size: 15px;
  font-weight: 600;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-send-btn {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 25px;
  bottom: 10px;
  cursor: pointer;
  font-size: 18px;
  color: #333;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-send-btn:hover {
  font-size: 19px;
  font-weight: 600;
}
.chatWindow .chatWindow-container .chatWindow-container-chat .chatWindow-container-reply .reply-send-btn:active {
  font-size: 17px;
  font-weight: 600;
}
/*# sourceMappingURL=chatWindow.css.map */