.contacts {
  width: 105%;
  height: 100%;
  background: #ffffff;
  overflow: auto;
  padding-bottom: 90px;
  padding-top: 40px;
}
.contacts .contacts-header {
  width: 200px;
  height: 40px;
  padding-right: 40px;
  background: #421C50;
  position: fixed;
  border-bottom: 1px solid #F2F1F6;
  left: 70px;
  top: 50px;
}
.contacts .contacts-header .contacts-header-title {
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  color: #fff;
}
.contacts .contacts-header .contacts-header-close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 40px;
}
.contacts .contacts-header .contacts-header-close .el-icon-close {
  color: #fff;
  cursor: pointer;
}
.contacts .contacts-header .contacts-header-close .el-icon-close:hover {
  font-weight: 600;
}
.contacts .contacts-container {
  width: 100%;
  background: #421C50;
}
.contacts .contacts-container .contacts-container-box {
  width: 100%;
}
.contacts .contacts-container .contacts-container-box .box-header {
  width: 100%;
  height: 30px;
  text-align: left;
  padding-left: 15px;
  line-height: 30px;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #fff;
}
.contacts .contacts-container .contacts-container-box .box-list {
  background: #ffffff;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item {
  width: 100%;
  display: block;
  border-bottom: 1px solid #e2e2e2;
  overflow: hidden;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-left {
  display: inline-block;
  vertical-align: top;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-left .item-avator {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
  margin-left: 10px;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right {
  width: 140px;
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right .item-name {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  line-height: 20px;
  padding-left: 5px;
  font-size: 14px;
  word-break: break-all;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right .item-time {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right .item-btn {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right .item-btn .item-btn-ok {
  background: #67c23a;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right .item-btn .item-btn-danger {
  background: #f56c6c;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right .item-btn .item-btn-ignore {
  background: #fff;
  color: #333;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right .item-btn span {
  cursor: pointer;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
  width: 35px;
  height: 22px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right .item-btn span:hover {
  opacity: 0.8;
}
.contacts .contacts-container .contacts-container-box .box-list ul .box-list-item .item-right .item-status {
  width: 100%;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
}
.contacts .contacts-container .contacts-container-box .box-list .box-list-null {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 12px;
  color: #666;
}
/*# sourceMappingURL=message.css.map */